body {
  margin: 0; }

body,
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
dl, dd, ol, ul,
form, fieldset, legend,
table, th, td, caption,
hr {
  margin: 0;
  padding: 0; }

article, aside, details, figcaption, figure, footer,
header, main, nav, section, summary {
  display: block; }

audio, canvas,
progress, video {
  display: inline-block;
  vertical-align: baseline; }

audio:not([controls]) {
  display: none;
  height: 0; }

a {
  background: transparent; }

a:active,
a:hover {
  outline: 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b,
strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 1em 40px; }

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0; }

pre {
  overflow: auto; }

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0; }

button {
  overflow: visible; }

button,
select {
  text-transform: none; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled],
html input[disabled] {
  cursor: default; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

input {
  line-height: normal; }

input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0; }

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

textarea {
  overflow: auto; }

optgroup {
  font-weight: bold; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

.clearfix:after, .cf:after {
  content: "";
  display: table;
  clear: both; }

.skip-link {
  height: 1px;
  width: 1px;
  position: absolute;
  overflow: hidden;
  top: -10px; }


ul, ol, dd {
  margin-left: 42px;
  margin-left: 3rem; }

.sep {
  margin: 0 11px; }

.container {
  width: auto;
  max-width: 100%;
  float: none;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-left: 1em;
  padding-right: 1em; }
  .container:after {
    content: "";
    display: table;
    clear: both; }

.container {
  width: auto;
  max-width: 100%;
  float: none;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-left: 1em;
  padding-right: 1em;
  padding: 0 1em;
  max-width: 400px; }
  .container:after {
    content: "";
    display: table;
    clear: both; }
  @media screen and (min-width: 768px) {
    .container {
      max-width: 796px; } }
  @media screen and (min-width: 978px) {
    .container {
      max-width: 1006px; } }
  @media screen and (min-width: 1218px) {
    .container {
      max-width: 1246px; } }

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html {
  /*font-family: "Open Sans", sans-serif;
  font-size: 0.875em;
  line-height: 1.5;
  background-color: white;
  color: gray;*/
  overflow-y: scroll;
  height: 100%;
}

body {
  min-height: 100%; }

.lede, .lead {
  font-size: 18px;
  font-size: 1.28571rem;
  line-height: 1.16667; }

img {
  max-width: 100%;
  font-style: italic; }

li > ul,
li > ol {
  margin-bottom: 0; }

.unstyled {
  margin: 0;
  padding: 0;
  list-style: none; }

code {
  background: #f5f2f0;
  border: 1px solid #bdc3c7;
  color: #252525;
  padding: 1.66667px 5px;
  font-family: Monaco, Verdana, "Dejavu Sans", sans-serif;
  border-radius: 3px;
  white-space: nowrap;
  font-size: inherit; }

kbd {
  background: #252525;
  color: white;
  padding: 1.66667px 5px;
  font-family: Monaco, Verdana, "Dejavu Sans", sans-serif;
  border-radius: 3px;
  font-size: 14px;
  font-size: 1rem;
  line-height: 1.5; }

pre {
  display: block;
  overflow: auto;
  max-width: 500px;
  word-break: break-all;
  /* webkit */
  word-wrap: break-word;
  white-space: pre;
  white-space: -moz-pre-wrap;
  /* fennec */
  white-space: pre-wrap;
  white-space: pre\9;
  /* IE7+ */
  padding-top: 21px;
  color: #252525;
  background: #f5f2f0;
  border-radius: 4px;
  border: 1px solid #bdc3c7; }
  pre > :last-child {
    margin-bottom: 0; }

table {
  border-collapse: collapse;
  margin: 11px 0;
  table-layout: fixed;
  width: 100%;
  margin-bottom: 21px; }

th {
  border: 1px solid #e2e2e2;
  font-weight: bold;
  padding: 10.5px 0;
  text-align: left;
  padding: 11px;
  color: #252525; }

td {
  border: 1px solid #e2e2e2;
  padding: 11px 0;
  padding: 11px; }

tr, td, th {
  vertical-align: middle; }

fieldset {
  background: none;
  border: 1px solid #e2e2e2;
  padding: 21px;
  margin-bottom: 21px; }
  fieldset legend {
    padding: 0 11px;
    color: #252525; }

label {
  margin-bottom: 5px;
  display: inline-block;
  color: #252525; }
  label.required:after {
    content: "*"; }
  label abbr {
    display: none; }

input[type="text"],
input[type="email"],
input[type="search"],
input[type="number"],
input[type="password"],
textarea {
  width: 100%;
  display: block;
  font-size: 14px;
  color: gray;
  margin-bottom: 21px;
  outline: none;
  border: 1px solid transparent;
  border-radius: 1px;
  padding: 5px;
  -webkit-box-shadow: none;
          box-shadow: none;
  background: whitesmoke;
  -webkit-transition: border 0.4s ease-in-out, -webkit-box-shadow 0.4s ease-in-out, background 0.4s ease-in-out;
          transition: border 0.4s ease-in-out, box-shadow 0.4s ease-in-out, background 0.4s ease-in-out; }
  input[type="text"]:hover,
  input[type="email"]:hover,
  input[type="search"]:hover,
  input[type="number"]:hover,
  input[type="password"]:hover,
  textarea:hover {
    border: 1px solid #bdc3c7; }
  input[type="text"]:focus,
  input[type="email"]:focus,
  input[type="search"]:focus,
  input[type="number"]:focus,
  input[type="password"]:focus,
  textarea:focus {
    border: 1px solid #bdc3c7;
    -webkit-box-shadow: 0 0 5px 0 #ccc;
            box-shadow: 0 0 5px 0 #ccc;
    background: #fafafa; }

textarea {
  resize: vertical; }

input[type="submit"] {
  background: none;
  border: 1px solid transparent;
  padding: 11px 21px;
  color: #252525;
  border-radius: 1px;
  outline: none;
  -webkit-transition: border 0.4s ease-in-out, -webkit-box-shadow 0.4s ease-in-out, background 0.4s ease-in-out;
          transition: border 0.4s ease-in-out, box-shadow 0.4s ease-in-out, background 0.4s ease-in-out;
  -webkit-box-shadow: none;
          box-shadow: none;
  background: whitesmoke; }
  input[type="submit"]:hover, input[type="submit"]:focus {
    border: 1px solid #bdc3c7;
    -webkit-box-shadow: 0 0 5px 0 #ccc;
            box-shadow: 0 0 5px 0 #ccc;
    background: #fafafa; }

input[type="checkbox"],
input[type="radio"] {
  display: inline;
  margin-right: 5px; }

input[type="file"] {
  margin-bottom: 5px;
  padding-bottom: 5px;
  width: 100%; }

select {
  margin-bottom: 21px;
  max-width: 100%;
  width: auto; }

html.fsvs {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden; }
  html.fsvs #fsvs-body {
    -webkit-backface-visibility: hidden;
    -webkit-perspective: 1000;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    height: 100%;
    width: 100%;
    opacity: 0}
    html.fsvs #fsvs-body > *{
      height: 100%;
      width: 100%;
      overflow: hidden;
      -webkit-backface-visibility: hidden;
      -webkit-perspective: 1000; }

html.fsvs #fsvs-pagination {
    margin: 0;
    padding: 8px 4px;
    position: fixed;
    height: auto;
    /*right: -100px;*/
      right: 3% !important;
    top: 50%;
    z-index: 999;
    width: 32px;
    display: none;
    }
    html.fsvs #fsvs-pagination li {
      list-style: none;
      width: 25px;
      height: 25px;
      line-height: 25px;
      text-align: center;
      margin: 0 0 2px 0;
      cursor: pointer; }
      html.fsvs #fsvs-pagination li > span {
        border-radius: 100%;
        width: 8px;
        height: 8px;
        line-height: 8px;
        /*border: 1px solid white;*/
        display: block;
        background-color: #fff;
          margin-left: 8px;
        }
        html.fsvs #fsvs-pagination li > span > span {
          /*border-radius: 100%;
          width: 12px;
          height: 12px;
          line-height: 12px;
          border: 1px solid white;*/
          display: block;
          /*margin: 4px;*/
        }
      html.fsvs #fsvs-pagination li.active > span {
        /*border: 1px dashed white;*/
        margin-left: 5px;
          width: 15px;
          height: 15px;
      }
        html.fsvs #fsvs-pagination li.active > span > span {
          background: white; }
      html.fsvs #fsvs-pagination li:last-child {
        margin: 0; }
      html.fsvs #fsvs-body > .slide.nth-class-1 {
            /*background-image: url("../images/slide-1.jpg");*/
            background-position: 0 0;
            background-size: cover;
      }
      html.fsvs #fsvs-body > .slide.nth-class-2 {
          background-image: url("../images/slide-2.jpg");
          background-position: 0 0;
          background-size: cover;
      }
      html.fsvs #fsvs-body > .slide.nth-class-3 {
          background-image: url("../images/slide-3.jpg");
          background-position: 0 0;
          background-size: cover;

      }
      html.fsvs #fsvs-body > .slide.nth-class-4 {
          background-image: url("../images/slide-4.jpg");
          background-position: 0 0;
          background-size: cover;
      }
html.fsvs #fsvs-body > .slide.nth-class-5 {
    background-image: url("../images/slide-5.jpg");
    background-position: 0 0;
    background-size: cover;
}

